body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  color: #333;
}

header {
  text-align: center;
  padding: 2rem 0 1rem;
}

.wordmark {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3.2px;
  font-weight: 600;
  color: #2c2c2c;
  margin-top: 20px;
  margin-bottom: 18px;
}

.subtitle {
  font-size: 10px;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  color: #2c2c2c;
  margin-top: -1rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}